<style type="text/css">
#flickrQuery{
	background-color:#FB9;
	padding:.1em;
	margin-top:1em;
}
#flickrSearch .yui-g{
  width:100%;
  margin-bottom:1em;
}
#flickrSearch .yui-u {
  text-align:right;
}
#flickrSearch .yui-u.first{
  text-align:left;
}
#q{
  width:95%;
}

#responsePhotosContainer{
  background-color:#EFEFEF;
  padding:1em;
}
  #responsePhotos ul{
    
  }
  #responsePhotos ul li {
    list-style:none;
    float:left;
    margin:.5em 1em;
  }
</style>

<%= stylesheet_link_tag javascript_path('jquery_pagination/lib/jquery_pagination/pagination.css') %>
<%= javascript_include_tag 'get_rest.jquery.js', 'flickr_client.jquery.js', 'jquery_pagination/lib/jquery_pagination/jquery.pagination.js' %>

<script type="text/javascript">

$(function(){
	
	var flickr = new FlickrClient('<%= FLICKR_API_KEY %>');
	
	var default_per_page = 5;
	
	function paginate(total_pages, cb){
		pagination_opts = {
          callback : cb,
          items_per_page : default_per_page,
          num_display_entries : 10,
          num_edge_entries : 2
        }
        $("#Pagination").pagination(total_pages, pagination_opts);
	}
	
	var PHOTO_SIZE = 'm';
	var THUMB_SIZE = 's';
	var ATTR = '';
	
	function buildPhotoSet(response, service_info){
		$('#responsePhotos').html('');
		var list = $('#responsePhotos');
		$(response.photos.photo).each(function(i,photo){
			// format thumbnail url
			var t = 'http://farm'+photo['farm'] + '.static.flickr.com/';
			t += photo['server'] + '/' + photo['id'] + '_' + photo['secret'] + '_' + THUMB_SIZE + '.jpg';
			//format image url
			var h = 'http://farm' + photo['farm'] + '.static.flickr.com/';
			h += photo['server'] + '/' + photo['id'] + '_';
			switch (PHOTO_SIZE){
				case 'm':
					h += photo['secret'] + '_m.jpg';
					break;
				case 'b':
					h += photo['secret'] + '_b.jpg';
					break;
	            case 'o':
					if (photo['originalsecret'] && photo['originalformat']) {
						h += photo['originalsecret'] + '_o.' + photo['originalformat'];
					} else {
						h += photo['secret'] + '_b.jpg';
					};
					break;
				default:
					h += photo['secret'] + '.jpg';
			};
			list.append('<li><a href="'+h+'" '+ATTR+' title="'+photo['title']+'"><img src="'+t+'" alt="'+photo['title']+'" /></a></li>');
		});
	}
	
	function photoSearch(params, callback){
		var search_opts = {
			text : $('#q').val(),
			per_page : default_per_page,
			page : 1
		};
		var final_params = $.extend(search_opts, params);
		flickr.get('photos.search', final_params, function(response, service_info){
			$('#flickrQuery').html(service_info.query);
			callback(response, service_info);
		});
	}
	
	function newFlickrSearch(){
		var paginating_search_callback = function(response, service_info){
			if(response.stat == 'fail'){
				alert(response.message + " Try setting a query or username");
				return;
			}else{
				paginate(response.photos.pages, function(page_index, container){
					photoSearch({page : (page_index+1)}, buildPhotoSet);
				});
			}
		}
		// search with the userid...
		var username = $('#flickrUsername').val();
		if( username.length > 0){
			flickr.get('people.findByUsername', {username : username}, function(response){
				if(response.stat=='fail'){
					alert(response.message);
				}else{
					photoSearch({user_id : response.user.id}, paginating_search_callback);
				}
			});
		}else{
			photoSearch({}, paginating_search_callback);
		}
	}
	
	$('#flickrSearch .yui-g form').submit(function(){
		$('#responsePhotos').html('');
		newFlickrSearch();
		return false;
	});
	
  
});
</script>

<div id="flickrSearch">
  
  <div class="yui-g">
    <% form_tag do %>
      <div class="yui-u first">
        <%= text_field_tag :q %>
      </div>
	<div class="yui-u">
        <%= label :flickerUsername, 'username (optional)' %><%= text_field_tag :flickrUsername %>
      </div>
      <div class="yui-u">
        <%= submit_tag 'find' %>
      </div>
    <% end %>
  </div>
  
  <div id="Pagination" class="pagination"></div>
  
  <br style="clear:both;"/>
  
  <div id="responsePhotosContainer">
    <ul id="responsePhotos"></ul>
    <br style="clear:both;"/>
  </div>
  
</div>

<div id="flickrQuery"></div>