<% html_top_items << capture do %>
	<%= stylesheet_link_tag javascript_path('jquery_pagination/lib/jquery_pagination/pagination.css'), 'buildings' %>
<% end %>
<% html_bottom_items << capture do %>
	<%= javascript_include_tag 'get_rest.jquery.js', 'jquery_pagination/lib/jquery_pagination/jquery.pagination.js', 'buildings' %>
<% end %>

<div id="search" class="container">
	<% form_tag do %>
		<div class="left">
			<%= label :q, 'search' %>: <%= text_field_tag :q %>
		</div>
		<div class="left">
			<%= label :username, 'user' %><%= text_field_tag :username %>
		</div>
		<div class="left">
			<%= submit_tag 'find' %>
		</div>
	<% end %>
</div>

<div class="container">
	<div id="controls" class="left">
		<div class="container">
			<div class="left">
				<div class="pagination container">
					<div id="Pagination"></div>
				</div>
			</div>
			<div class="right">
				<%= image_tag 'ajax-loader.gif', :id=>'loadIndicator'%>
			</div>
		</div>
		<div id="photoSets"></div>
	</div>
	<div class="right">
		<div id="photoBucket"></div>
	</div>
</div>