<% form_for @user_session, :url => user_session_path, :html=>{:class=>:form} do |f| %>
  
  <fieldset>
    
    <legend>Login</legend>
    
    <%= f.error_messages %>
  
    <div class="row yui-gd">
      <div class="yui-u first"><%= f.label :login %></div>
      <div class="yui-u"><%= f.text_field :login %></div>
    </div>
  
    <div class="row yui-gd">
      <div class="yui-u first"><%= f.label :password %></div>
      <div class="yui-u"><%= f.password_field :password %></div>
    </div>
  
    <div class="row yui-gd">
      <div class="yui-u first"><%= f.label :password %></div>
      <div class="yui-u"><%= f.password_field :password %></div>
    </div>
  
    <div class="row yui-gd">
      <div class="yui-u first"><%= f.label :remember_me %></div>
      <div class="yui-u"><%= f.check_box :remember_me %></div>
    </div>
  
    <div class="row yui-gd">
      <div class="yui-u"><%= f.submit 'Login', :class=>:submit %></div>
    </div>
  
  </fieldset>
  
<% end %>